.BooksWrapper {
  width: 100%;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.BookPreView {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  border-bottom: 1px solid #d5d5d5;
}

.BookImg {
  width: 150px;
  height: 200px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  cursor: pointer;
}

.BookInforms {
  width: 50%;
  height: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.BookInform {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
}

.BookTitle {
  font-size: 20px;
  margin: 0 0 5px 0;
  padding: 0;
}

.BookAuthor {
  font-size: 15px;
  color: #778899;
  margin: 0;
  padding: 0;
}

.BookDiscount {
  font-size: 13px;
  color: red;
  margin: 0;
  padding: 0;
}

.BookPoint {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.BookQuantityBoxs {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0;
  gap: 20px;
}

.BookButtonBox {
  /* width: 150px;
  height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 0 0 auto;
  padding: 0; */
  gap: 10px;
}

.BookQuantity {
  margin: 0;
  padding: 0;
}

.QuantityBtn {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #d5d5d5;
}
.EditBtn {
  width: 50px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.DeleteBtn {
  width: 50px;
  height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ce545a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.PaginationBtns {
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.PaginationBtn {
  flex: 1;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.ActivePage {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.PaginationEllipsis {
  padding: 8px 12px;
  color: #555;
}

.Disabled {
  pointer-events: none;
  opacity: 0.5;
}
