.SearchbarWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.BookInventorySearchBar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.SearchBarTitle {
  font-size: 20px;
}

.SearchBar {
  width: 25%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 0 0 10px;
}

.AddBtnWrapper {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
}

.AddButton {
  width: 100px;
  height: 40px;
  margin: 0 0 0 auto;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #007bff;
  color: white;
}
